/* body*/
.col-md-12 {
    text-align: center;
}
.container {
    margin-top: 2rem;
}
a:hover {
    text-decoration: none;
    color: #B71427;
}

/* avatar*/
img {
    max-width: 80%;
    border-radius: 670px;
}
.image-right {
    padding-top: 8rem;
    text-align: center;
}

/*github user*/
.git-user {
    padding-top: 1rem;
}
.git-user-content {
    padding-bottom: 7rem;
}
.git-table h3 {
    justify-content: center;
    font-size: 70px;
    display: flex;
}

/*github user repos*/
.my-repos p {
    text-indent: 3rem;
    text-align: left;
}
.desc{
    text-align: left;
}
tr {
    font-size: 16px;
}
a:hover {
    text-decoration: none;
}
td a {
    font-size: 25px;
}

/*search form*/
.search-form p {
    font-size: 20px;
    margin: 0;
    justify-content: left;
    align-items: left;
    position: sticky
}

/*media query*/
@media (min-width: 992px) {
    .navbar-expand-lg {
        height: 85px;
    }
}
